<div class="dialog-container" @dialogAnimation>
  <button mat-icon-button class="close-button" (click)="close()">✕</button>

  <h2 class="pokemon-name">
    #{{ pokemon.id.toString().padStart(3, "0") }} -
    {{ pokemon.name | titlecase }}
  </h2>

  <img
    [src]="pokemon.sprites?.other?.['official-artwork']?.front_default || pokemon.sprites?.front_default"
    [alt]="pokemon.name"
    class="pokemon-image"
  />

  <div class="info-grid">
    <div><strong>Weight:</strong> {{ pokemon.weight / 10 }} kg</div>
    <div><strong>Height:</strong> {{ pokemon.height / 10 }} m</div>
  </div>

  <div class="section">
    <strong>Types:</strong>
    <ul class="pill-list">
      <li *ngFor="let t of pokemon.types" class="pill type-{{ t.type.name }}">
        {{ t.type.name | titlecase }}
      </li>
    </ul>
  </div>

  <div class="section">
    <strong>Abilities:</strong>
    <ul class="pill-list">
      <li *ngFor="let a of pokemon.abilities" class="pill">
        {{ a.ability.name | titlecase }}
      </li>
    </ul>
  </div>

  <div class="section scrollable">
    <strong>Moves (first 5):</strong>
    <ul class="pill-list">
      <li *ngFor="let m of pokemon.moves.slice(0, 5)" class="pill">
        {{ m.move.name | titlecase }}
      </li>
    </ul>
  </div>
</div>
